.videocard {
    color: white;
    width: 500px;
    height: 400px;
    padding: 20px;
    margin: 45px;
    transition: transform 100ms;
}
.videocard > img {
    height:300px;
    object-fit:contain;
    width:500px;
}

.videocard:hover{
    transform: scale(1.09);
}


.videocard > h2 {
    padding-top:10px;
    padding-bottom:10px;
    
}

.videocard:hover > .videoCard__stats{
    display: inline;
}


